<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="MailFrom" value="oms@slppre-new.com"/>
    <add key="MailTo" value="nklsanthosh143@gmail.com"/>
    <add key="Host" value="mail.slppre-new.in"/>
    <add key="Username" value="oms@slppre-new.com"/>
    <add key="Host" value="mail.slppre-new.in"/>
    <add key="Port" value="587"/>
    <add key="Password" value="NSMpb@123"/>

    <add key="Subject" value="Indent Approval"/>
  </appSettings>
</configuration>